#root {
  max-width: 317px;
  margin: 0 auto;
  padding: 0;
  background-color: #1a1b21;
}
.info-container {
  text-align: center;
  margin-bottom: 33px;
}
.myImg {
  width: 317px;
  height: 317px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 0;
  font-family: "Inter";
}
.job {
  font-size: 12.8px;
  font-family: "Inter Tight";
  color: #f3bf99;
  margin-top: 0px;
  margin-bottom: 10px;
}
.website {
  font-size: 10.24px;
  padding-top: 0px;
  margin-bottom: 15px;
}
.email-btn {
  position: relative;
  background-color: white;
  border: none;
  border-radius: 6px;
  color: #1e1f26;
  padding-top: 9px;
  width: 115px;
  padding-bottom: 9px;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 0;
  font-family: "Inter";
  margin-right: 8.5px;
}

.email-btn::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("./assets/email-icon.svg");
  background-repeat: no-repeat;
  background-size: 12.8px 9.6px;
  color: #1e1f26;
  padding-left: 11px;
  background-position: center;
}
.email-btn:hover {
  cursor: pointer;
  background-color: #ffffffdd;
}
.email-btn:active {
  transform: scale(0.9);
}
.linkedIN-btn {
  position: relative;
  background-color: #5093e2;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  padding-top: 9px;
  width: 115px;
  padding-bottom: 9px;
  font-size: 14px;
  padding-left: 35px;
  padding-right: 13px;
  font-family: "Inter";
  margin-left: 8.5px;
}
.linkedIN-btn::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 13.33px;
  height: 13.33px;
  background-image: url("./assets/linkedIN-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  color: white;
  padding-left: 11px;
  background-position: center;
}
.linkedIN-btn:hover {
  cursor: pointer;
  background-color: #6fa8e9;
}
.linkedIN-btn:active {
  transform: scale(0.9);
}
.about-cont {
  text-align: left;
  max-width: 250px;
  margin-left: 35px;
  margin-right: 35px;
}
.about {
  font-size: 16px;
}
.about-text {
  font-size: 10.24px;
  margin-bottom: 27px;
}
.interest-cont {
  text-align: left;
  max-width: 250px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 24px;
}
.interest {
  font-size: 16px;
}
.interest-text {
  font-size: 10.24px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
  height: 64px;
  background-color: #161619;
  border-radius: 10px;
}
.icon {
  margin: 10px;
}
